<h2> Todos found from the Database</h2>
<div>
  <mat-form-field>
    <input matInput #todoName placeholder="Name">
  </mat-form-field>
  <br />
  <button mat-button color="secondary" (click)="add(todoName.value); todoName.value=''">
    Add Todo
  </button>
</div>
<div>
    <app-todo-detail [dataSource]="dataSource"
    (upVoteListen)="upVote($event)"
    (downVoteListen)="downVote($event)"
    (changeCompletedListen)="changeCompleted($event)"
    (deleteListen)="delete($event)">
    </app-todo-detail>
</div>
