<h2> Todos found from the Database</h2>
<i class="material-icons">close</i>
<div>
  <mat-form-field>
    <input matInput #todoName placeholder="Name">
  </mat-form-field>
  <br />
  <button mat-button color="secondary" (click)="add(todoName.value); todoName.value=''">
    Add Todo
  </button>
</div>
<div>
    <app-todo-detail [dataSource]="dataSource"
    (upVoteListen)="upVote($event)"
    (downVoteListen)="downVote($event)"
    (changeCompletedListen)="changeCompleted($event)"
    (deleteListen)="delete($event)">
    </app-todo-detail>
</div>
<!--
<div class="todo-table">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>


  <mat-table #table [dataSource]="todos">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{todo.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let todo"> <button mat-button color="primary"> {{todo.name}} </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="completed">
      <mat-header-cell *matHeaderCellDef> Completed </mat-header-cell>
      <mat-cell *matCellDef="let todo">
        <button mat-icon-button (click)="changeCompleted(todo)">
          <div *ngIf="todo.completed">
            <i class="material-icons">done</i>
          </div></button> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="votes">
      <mat-header-cell *matHeaderCellDef> # Votes </mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{todo.votes}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let todo">
        <button mat-icon-button title="Upvote"
        (click)="upVote(todo)"><i class="material-icons">thumb_up</i></button>
        <button mat-icon-button title="Downvote"
        (click)="downVote(todo)"><i class="material-icons">thumb_down</i></button>
        <button mat-icon-button title="Delete todo"
        (click)="delete(todo)"> <i class="material-icons">close</i> </button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
-->
