<h2>Highest priority todos</h2>

<div class="todo-table">

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let todo"> <button mat-button color="secondary" routerLink="/detail/{{todo.id}}"> {{todo.name}}</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="votes">
      <mat-header-cell *matHeaderCellDef> # Votes </mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{todo.votes}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
